.userList{
    flex: 4;
}
.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #009387;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.userListDelete {
    color: red;
    cursor: pointer;
}