.newUser {
    flex: 4;
}
.newUserForm{
    display: flex;
    flex-wrap: wrap; 
}
.newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newUserItem>label{
    margin-bottom: 10px;
    font-style: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}
.newUserItem>input{
    height: 20px;
    padding: 10px;
    border: 1px solid gray ;
    border-radius: 5px;
}
.newUserButton {
    width: 200px;
    height: 50px;
    bottom: none;
    background-color: #009387;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}