.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: #009387;
    cursor: pointer;
}
.topRight{
    display: flex;
    align-items: center;
}
.tobarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
.topIconBag {
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}